
<section class="bundle">
	<h1 class="bundle-title">{{ include.bundle-title }}</h1>
	<ul class="bundle-contents is-scrollable">
		{% for content-item in include.bundle %}
		<li class="card">
				<img src="{{ content-item.images.standard }}" alt="The Girl with a Topnot">
				<div class="card-meta">
					<div class="card-tag">
						<span class="card-label">{{ content-item.labels.editorial }}</span>
						{% if content-item.labels.category %}
							<span class="card-category">| {{ content-item.labels.category }}</span>
						{% endif %}
					</div>
					<h2 class="card-title">{{ content-item.title }}</h2>
					<p class="card-subtitle">{{ content-item.subtitle }}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>
