body {
	background-color: #0C101C;
	  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}
.bundle {
	border-bottom: 1px solid #171A24;
	&-title {
		font-size: 18px;
		color: white;
		font-weight: normal;
		margin: 18px 0px 18px 8px;
	}
	&-contents {
		margin: 0 0 16px 0;
	}
}
.card {
  width: 40vw;
	list-style: none;
	> img {
		width: 100%;
		margin: 0;
		display: block;
	}
	&-meta {
		margin: 8px 0;
	}
	&-label {
		color: #F54997;
		font-size: 14px;
		font-weight: 300;
		display: block;
		margin-bottom: 4px;
		line-height: 15px;
	}
	&-title {
		color: white;
		font-weight: 300;
		font-size: 16px;
		margin: 0 0 6px;
		display: block;
		line-height: 20px;
	}
	&-subtitle {
		color: #B2B7C4;
		margin: 0 0 8px 0;
		font-size: 14px;
		line-height: 16px;
		font-weight: 300;
	}
}

.grid-wrapper {
	display: flex;
	padding: 0 4px;
	.card {
		flex: 1 0 auto;
		padding: 4px;
	}
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  .card {
    flex: 0 0 auto;
    margin-right: 8px;
		&:first-child {
			margin-left: 8px;
		}
  }
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 480px) {
	.card {
		width: 27vw;
	}
}

@media (min-width: 876px) {
	.card {
		width: 22vw;
	}
}
