.is-scrollable {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    flex: 0 0 auto;
    margin-right: 8px;
		&:first-child {
			margin-left: 8px;
		}
  }
}
