.is-scrollable {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.is-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 8px;
  padding: 0;
  margin: 0 8px;
  .card {
    margin: 0 0 48px 0;
    width: auto;
    &:first-child {
      margin-left: 0;
    }
  }  
}
