.is-scrollable {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.is-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  margin: 0 4px;
  .card {
    margin: 0 4px 48px 4px;
    width: auto;
    &:first-child {
      margin-left: 4px;
    }
  }
}
