.card {
  width: 45vw;
  @media (min-width: 600px) {
    width: 30vw;
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: 768px) {
    width: 30vw;
  }
  @media (min-width: 1024px) {
    width: 23vw;
  }
}

.card {
  &.is-large {
    width: 90vw;
    @media (min-width: 600px) {
      width: 45vw;
    }
    @media (min-width: 1024px) {
      width: 40vw;
    }
    .card-title {
  		color: white;
  		font-weight: 300;
  		font-size: 22px;
  		margin: 0 0 8px;
  		line-height: 26px;
  	}
  }
}
