.card {
  width: calc(80vw / 2);
  @media (min-width: 600px) {
    width: calc(90vw / 3);
    font-size: 16px;
    line-height: 20px;
    max-width: 300px;
  }

}

.card {
  &.is-large {
    width: 76vw;
    @media (min-width: 600px) {
      width: calc(90vw / 2);
      max-width: 414px;
    }
    .card-title {
  		color: white;
  		font-weight: 300;
  		font-size: 22px;
  		margin: 0 0 8px;
  		line-height: 26px;
  	}
  }
}
