.navigation-top {
	background-color: #020110;
	padding: 16px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
	position: sticky;
	top: 0;
	z-index: 9999;
	&-icon {
		height: 20px;
		width: 20px;
	}
	&-menu {
		color: #FFF;
		text-decoration: none;
		&:hover, &:focus, &:visited {
			color: #FFF;
		}
		font-size: 18px;
	}
	&-title {
		color: #FFF;
		font-size: 16px;
		text-align: center;
		margin: 0;
		padding-right: 23px;
		display: block;
		width: 100%;
		font-weight: normal;
	}
}

.has-logo {
	background-image: url("/img/assets/bbc-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
}
