.navigation-top {
	background-image: url("/img/assets/bbc-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #020110;
	padding: 14px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-icon {
		height: 20px;
		width: 20px;
	}
	&-menu {
		color: #FFF;
		text-decoration: none;
		&:hover, &:focus, &:visited {
			color: #FFF;
		}
		font-size: 18px;
	}
}
