.navigation-top {
	background-image: url("/img/assets/bbc-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #020110;
	padding: 16px 16px;
	border-bottom: 1px solid #302F34;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 9999;
	&-icon {
		height: 20px;
		width: 20px;
	}
	&-menu {
		color: #FFF;
		text-decoration: none;
		&:hover, &:focus, &:visited {
			color: #FFF;
		}
		font-size: 18px;
	}
}
