.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.swiper-slide {

}

.swiper-container-large {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
