.swiper-container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #171A24;
}

.swiper-wrapper {
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
}

.swiper-slide {
  height: auto;
}

.swiper-container-large {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  border-bottom: 1px solid #171A24;
}
