.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide {
    max-width: 300px;
  }

}

.swiper-wrapper {
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
}

.swiper-slide {
  height: auto;
}

.swiper-container-large {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  .swiper-slide {
    max-width: 414px;
  }
}

.swiper-container-is-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  .swiper-slide {
    min-width: none;
  }
}
