<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="robots" content="noindex">
			<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main-{{page.mode}}.css">
		</head>
		<body>
			{% include header.html %}
			<!--Continue watching-->
				{% include carousel-large.html bundle=site.data.stakeholder-19yrs-new-on-iplayer bundle-title="Todays highlights"%}
			<!--High priority-->
				{% include carousel.html bundle=site.data.stakeholder-27yrs-new-on-iplayer bundle-title="Open collection"%}
				<!-- Extreme cases-->
				{% include carousel.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Documentaries"%}

				{% include grid.html bundle=site.data.stakeholder-27yrs-new-on-iplayer bundle-title="Grid"%}

				<!--High priority-->
					{% include carousel.html bundle=site.data.stakeholder-27yrs-new-on-iplayer bundle-title="Open collection"%}
					<!-- Extreme cases-->
					{% include carousel.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Documentaries"%}
			{% include footer.html %}
		</body>
	</html>
