<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="robots" content="noindex">
			<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main-{{page.mode}}.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.css">

			<!-- Add to homescreen for Chrome on Android -->
			<meta name="mobile-web-app-capable" content="yes">
			<meta name="application-name" content="{{page.mode}}">

			<!-- Add to homescreen for Safari on iOS -->
			<meta name="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="black">
			<meta name="apple-mobile-web-app-title" content="{{page.mode}}">

			<!-- Color the status bar on mobile devices -->
			<meta name="theme-color" content="#0C101C">
		</head>
		<body>
			{% include header.html %}
			{% include swiper-large.html bundle=site.data.stakeholder-19yrs-new-on-iplayer bundle-title="Todays highlights"%}
		<!--High priority-->
			{% include swiper.html bundle=site.data.stakeholder-27yrs-new-on-iplayer bundle-title="Continue Watching"%}
			<!-- Extreme cases-->
			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="High Priority"%}
			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Most Popular"%}
			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Recommended for you"%}
			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Normal Priority"%}
			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Drama"%}
			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Comedy"%}
			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Documentaries"%}

			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Entertainment"%}

			{% include swiper.html bundle=site.data.stakeholder-27yrs-documentaries bundle-title="Added"%}
			<!-- Slider main container -->
			{% include footer.html %}

		  <!-- Swiper JS -->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.js"></script>

		  <!-- Initialize Swiper-->
		  <script>
		    var swiper = new Swiper('.swiper-container', {
		      slidesPerView: 2.2,
		      slidesOffsetBefore: 8,
		      spaceBetween: 8,
					slidesPerGroup: 1,
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		    });
				var swiper = new Swiper('.swiper-container-large', {
		      slidesPerView: 1.1,
		      slidesOffsetBefore: 8,
		      spaceBetween: 8,
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		    });
		  </script>
		</body>
	</html>
